@import './variables';

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

.Title {
  font-size: 15px;
  line-height: 38px;
  margin-left: 10px;

  @include desktop {
    font-size: 30px;
    margin-left: 24px;
    padding-right: 20px;
  }
}

.Upper-container {
  margin-top: 30px;
  display: grid;
  // grid-template-columns: 1fr;
  grid-template-areas: 
    "title"
    "video"
    "content"
    "instructor"
    ;

  @include desktop {
    grid-template-areas: 
    "title video"
    "content video"
    "content instructor"
    ;
  }
}

.Video {
  grid-area: video;
  
  @include phone {
    height: 205px;
  }
  
  @include desktop {
    margin-right: 24px;
  }
}


.Course-content {
  width: 360px;
  grid-area: content;

  @include phone {
    padding: 16px;
  }
  
  @include desktop {
    margin-left: 24px;
    padding-right: 20px;
    width: 463px;
  }

  h2 {
    margin-bottom: 20px;
    grid-area: title;
  }

  .Content-title {
    margin-right: 137px;
  }

  .Durasi {
    font-size: 14px;
  }

  .Card-size {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    margin-bottom: 32px;

    .Card-title {
      display: flex;
      margin-top: 12px;
      margin-bottom: 12px;
      margin-left: 16px;
    }

    img {
      margin-right: 20px;
    }
  }

  .Side-menu-content-title {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

}


.Card-profile {
  margin-top: 20px;
  width: 312px;
  height: 168px;
  margin-bottom: 68px;
  grid-area: instructor;
  
  @include desktop {
    width: 929px;
    background-color: white;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 24px;
  }
  
  .Card-profile-title {
    display: none;

    @include desktop {
      display: block;
      margin-left: 24px;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }
  }

  img {
    width: 32px;
    height: 32px;
    
    @include desktop {
      margin-left: 40px;
      margin-bottom: 20px; 
      width: 80px;
      height: 80px;     
    }
  }

  .Instructure-data {
    margin-left: 16px;
  }

  .Instructure-name {
    font-weight: bold;
    font-size: 15px;
    
    @include desktop {
      font-size: 24px;
    }
  }

  .Instructure-description {
    font-size: 14px;
    line-height: 22px;

  }
}