.Title {
  font-size: 15px;
  line-height: 38px;
  margin-left: 10px;
}

@media (min-width: 840px) {
  .Title {
    font-size: 30px;
    margin-left: 24px;
    padding-right: 20px;
  }
}

.Upper-container {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "video" "content" "instructor";
}

@media (min-width: 840px) {
  .Upper-container {
        grid-template-areas: "title video" "content video" "content instructor";
  }
}

.Video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
}

@media (max-width: 375px) {
  .Video {
    height: 205px;
  }
}

@media (min-width: 840px) {
  .Video {
    margin-right: 24px;
  }
}

.Course-content {
  width: 360px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
}

@media (max-width: 375px) {
  .Course-content {
    padding: 16px;
  }
}

@media (min-width: 840px) {
  .Course-content {
    margin-left: 24px;
    padding-right: 20px;
    width: 463px;
  }
}

.Course-content h2 {
  margin-bottom: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.Course-content .Content-title {
  margin-right: 137px;
}

.Course-content .Durasi {
  font-size: 14px;
}

.Course-content .Card-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 48px;
  margin-bottom: 32px;
}

.Course-content .Card-size .Card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 16px;
}

.Course-content .Card-size img {
  margin-right: 20px;
}

.Course-content .Side-menu-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  .Course-content .Side-menu-content-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Card-profile {
  margin-top: 20px;
  width: 312px;
  height: 168px;
  margin-bottom: 68px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: instructor;
}

@media (min-width: 840px) {
  .Card-profile {
    width: 929px;
    background-color: white;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 24px;
  }
}

.Card-profile .Card-profile-title {
  display: none;
}

@media (min-width: 840px) {
  .Card-profile .Card-profile-title {
    display: block;
    margin-left: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
}

.Card-profile img {
  width: 32px;
  height: 32px;
}

@media (min-width: 840px) {
  .Card-profile img {
    margin-left: 40px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
  }
}

.Card-profile .Instructure-data {
  margin-left: 16px;
}

.Card-profile .Instructure-name {
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 840px) {
  .Card-profile .Instructure-name {
    font-size: 24px;
  }
}

.Card-profile .Instructure-description {
  font-size: 14px;
  line-height: 22px;
}
/*# sourceMappingURL=CoursePage.css.map */