.Title {
  font-size: 30px;
  line-height: 38px;
}

.Upper-container {
  margin-top: 30px;
  display: flex;
}

.Video {
  margin-right: 24px;
}


.Course-content {
  width: 463px;
  margin-left: 24px;

  h2 {
    margin-bottom: 20px;
  }

  .Konten-title {
    margin-right: 137px;
  }

  .Durasi {
    font-size: 14px;
  }
}