@import './variables';

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

#navbar {
  display: flex;
  position: sticky;
  height: 97px;

  .Logo-nav-menu {
    flex: 1;
    display: flex;
  }

  .Profile-nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .Profile-nav {
      display: flex;
      margin-right: 136px;
      height: 100%;

      @include phone {
        display: none;
      }

      p {
        margin-top: 28px;
        margin-left: 15px;
      }
    }
  }
}

.Logo {
  margin-left: 66px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 46px;

  @include phone {
    width: 158px;
    height: 23px;
    margin-left: 16px;
    margin-top: 19px;
    margin-bottom: 18px;
  }
}

.Nav-dropdown {
  margin-left: 50px;
}